<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img class="logo" src="assets/img/logo-black.svg" alt="">
      Music
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
    <ion-slides pager="true" [options]="slideOpts" >

      <ion-slide class="slide1">
        <div class="slide1-close">
          <ion-icon class="close" name="close-outline"></ion-icon>
        </div>
        <img src="assets/img/logo-black.svg" alt="">
        <div class="slide1-info">
          <h1>Escucha tu música</h1>
          <p>En cualquier lugar.</p>
        </div>
        <ion-icon name="play-outline"></ion-icon>
        <div class="slide1-img">
          <img src="assets/img/slide1-img.svg" alt="">
        </div>
      </ion-slide>

      <ion-slide class="slide2">
        <div class="slide2-close">
          <ion-icon class="close" name="close-outline"></ion-icon>
        </div>
        <img src="assets/img/logo-black.svg" alt="">
        <div class="slide2-info">
          <h1>Apasionate</h1>
          <p>De los mejores ritmos.</p>
        </div>
        <ion-icon name="musical-notes-outline"></ion-icon>
        <div class="slide2-img">
          <img src="assets/img/slide2-img.svg" alt="">
        </div>
      </ion-slide>

      <ion-slide class="slide3">
        <div class="slide3-close">
          <ion-icon class="close" name="close-outline"></ion-icon>
        </div>
        <img src="assets/img/logo-black.svg" alt="">
        <div class="slide3-info">
          <h1>Anima y Tranquiliza</h1>
          <p>tu día.</p>
        </div>
        <ion-icon name="play-back-outline"></ion-icon>
        <div class="slide3-img">
          <img src="assets/img/slide3-img.svg" alt="">
        </div>
      </ion-slide>

    </ion-slides>
</ion-content>
